<br><br>
<form >
<input type="button" class="buttoncenter" id="submit" (click)="onList()" value="Click Here To View All Users"/><br><br><br>
<table class="table table-striped  text-center" cellspacing="4" rules="all" border="4" id="myTable"
        style="border-collapse: collapse; text-align: center; margin-left: auto; margin-right: auto; background-color:black;">
        <thead>
          <tr>
            <th scope="col" style="color: white;">Account Id</th>
            <th scope="col" style="color: white;">Name</th>
			<th scope="col" style="color: white;">Phone</th>
			<th scope="col" style="color: white;">Occupation</th>
            <th scope="col" style="color: white;">City</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr *ngFor="let row of rows">
			<td style="color: white;">{{row.acctid}}</td>
			<td style="color: white;">{{row.custname}}</td>
			<td style="color: white;">{{row.phoneno}}</td>
			<td style="color: white;">{{row.occupation}}</td>
			<td style="color: white;">{{row.city}}</td>
          </tr>
        </tbody>
      </table>
</form>